.project
  margin: 10px auto 10px auto
  padding: 20px
  border-radius: 25px
  border: 5px solid black
  width: 70%
  display: flex
  justify-content: space-between

  &:nth-child(3n-2)
    border-color: #9f2d20

  &:nth-child(3n-1)
    border-color: #627a78

  &:nth-child(3n)
    border-color: #FCAF39

  p
    align-self: flex-end
