@import "../../../../styles/library";

.header {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}
.container {
  border: solid 3px;
  border-color: $pink-color;
  border-radius: 25px;
  margin: 45px 0px;
  padding: 40px;
  ul {
    list-style: disc;

    // li {
    //   div {
    //     display: flex;
    //     justify-content: space-between;
    //   }
    //   &:not(:last-child) {
    //     margin-bottom: 10px;
    //   }
    // }
  }

  // .add {
  //   margin-top: 10px;
  //   display: flex;
  //   justify-content: space-between;

  //   input {
  //     width: 400px;
  //   }
  // }
}
