.header {
  text-align: center;
}
.container {
  border: solid 3px;
  border-color: #c5a7af;
  border-radius: 25px;
  margin: 45px 0px;
  padding: 40px;
  ul {
    list-style: square;

    li {
      div {
        display: flex;
        justify-content: space-between;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .add {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    input {
      width: 400px;
    }
  }
}
