.Combobox {
    user-select: none;

    height : 100%;
    width : 100%;
    padding : 0 3%;
    
    border-radius: 8px;
    border : 2px solid #9f2d20;
    

    display: flex;
    align-items: center;

    position: relative;
    

    &.Blue {
        border : 2px solid #47a5af;
    }
    
    &.Expanded {
        border-bottom: none;
        border-radius: 8px 8px 0 0;
    }


}

.highlighted {
    border: 2px solid #2f5982;

    &.Blue {
        border : 2px solid #000000;
    }
}

.Input {
    height: 80%;
    flex: 1;
    max-width: calc(100% - 1.5em - 5px);
    border : none;

    font-size: 1em;

    outline: none;

    &.Focused {
        border: 2px solid #2f5982;
    }
}

