.ComboMenu {

    --options : 2;

    position: absolute;
    top : 100%;
    left: -1px;

    height: calc(100% * var(--options));
    width: calc(100% + 2px);

    margin: 0;
    border: none;
    padding : 0;

    border : 1px solid #9f2d20;
    border-top: none;
    border-radius: 0px 0px 8px 8px;

    box-sizing: border-box;

    overflow-y : scroll;

    &.hideScroll::-webkit-scrollbar {
        display: none;
    }
}


.Option {
    width: 100%;
    min-height: calc(100% / var(--options));
    padding : 0 5%;

    color: #6c757d;

    display: flex;
    align-items: center;

    & > .Checkbox {
        height: 1.3em;
        aspect-ratio: 1;

        margin: 5px;

        border: 2px solid #868686;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        & > .CheckboxSVG {
            height: 80%;
        }
    }

    & > .Label {
        flex : 1;
        font-weight:600;
    }

    &:hover {
        background-color: #f3d6d6;
    }

    &[aria-selected="true"] {
        background-color: white;
    }

    &[aria-selected="true"] > .Label {
        color: #9f2d20;
    }

    &[aria-selected="true"] > .Checkbox {
        background-color: #9f2d20;
        border: none;
        
    }

}

.Combobox {
    user-select: none;

    height : 100%;
    width : 100%;
    padding : 0 5%;
    
    border-radius: 8px;
    border : 2px solid #9f2d20;

    display: flex;
    align-items: center;

    position: relative;

    &.Expanded {
        border : 1px solid #9f2d20;
        border-bottom: none;
        border-radius: 8px 8px 0 0;
    }

}

.Arrow {
    height: 20%;
    position: absolute;
    right: 5%;
    transition-property: transform;
    transition-duration: 0.5s;

    &.Up {
        transform: rotate(180deg);
    }
}

.Path {
    color : black;
}

.highlighted {
    border: 2px solid #2f5982;
}