.Combobox {
    user-select: none;

    height : 100%;
    width : 100%;
    padding : 0 3%;
    
    border-radius: 8px;
    border : 2px solid #9f2d20;
    

    display: flex;
    align-items: center;

    position: relative;

    &.Expanded {
        border-bottom: none;
        border-radius: 8px 8px 0 0;
    }

    &.Blue {
        border : 2px solid #47a5af;
    }

}

.Arrow {
    height: 50%;
    position: absolute;
    right: 5%;
    transition-property: transform;
    transition-duration: 0.5s;

    &.Up {
        transform: rotate(180deg);
    }
}

.Path {
    color : black;
}

.highlighted {
    border: 2px solid #2f5982;
}

.SuggestedSearch {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.Input {
    height: 80%;
    flex: 1;
    max-width: calc(100% - 1.5em - 5px);
    border : none;

    font-size: 1em;

    outline: none;

    &.Focused {
        border: 2px solid #2f5982;
    }
}

.MagnifyingGlass {
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
    flex-shrink: 0;
}