@import '../../../../styles/library'
    
.container
    display: flex

.clinic
    width: 30%
    height: 45px

.supervisors
    width: 100%
    display: flex
    justify-content: space-evenly

.supervisor
    // width: 40%
    max-width: 28%

.addBlock
    position: relative

.addText
    padding: 15px 0px
    width: 100%
    font-size: 20px
    border: none
    border-bottom: 3px solid $pink-color

.addButton
    position: absolute
    height: 20px
    width: 20px
    padding: 0
    background: transparent
    border: none
    top: calc(50% - 10px)
    right: 10px

    & img
        height: 100%
        width: 100%
        object-fit: contain

.pink
    background-color: $red-color-opacity-lg

.easternBlue
    background-color: $light-easternBlue-color

.dodgerBlue
    background-color: $light-dodgerBlue-color-opacity-sm
    
@media (max-width: 1000px) 
    .container
        flex-direction: column

    .clinic
        margin-bottom: 50px
        width: 50%
        align-self: center

    .supervisors
        width: 100%

@media (max-width: 700px)
    .supervisors
        flex-direction: column
        align-items: center

    .supervisor
        width: 400px
        max-width: 400px
        margin-bottom: 70px

@media (max-width: 500px)
    .supervisor
        width: 250px

@media (700px < width < 1200px)
    .dodgerBlue span
        position: relative
        right: 7px
    