@import '../../styles/library';

.aboutus {
  // display: flex;
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.result {
  margin: 31px;
  padding: 13px;
  border: 5px dashed $red-color;
  border-radius: 25px;
}

.roles {
  margin: 31px;
  padding: 13px;
  border: 5px dashed $yellow-color;
  border-radius: 25px;
}

.aboutus tr {
  font-family: 'Open Sans';
  font-style: normal;
  align-items: center;
  text-align: center;
}

.aboutus table {
  margin-left: auto;
  margin-right: auto;
}

.aboutus thead {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

.aboutus tbody tr {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.aboutus .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus button {
  background-color: $red-color;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 25px;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: $red-color, $amount: 10%);
  }
}

@media (max-width: 1073px) {
  .aboutus {
    display: flex;
    flex-direction: column;
  }
}
