@import "../../styles/library";

.aboutus {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.result {
  text-align: center;
  margin: 31px 50px 31px 0px;
  padding: 40px 30px 40px 30px;
  border: 5px dashed $red-color;
  border-radius: 25px;
}

.result__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.roles {
  margin: 31px 0px 31px 50px;
  padding: 13px;
  border: 5px dashed $yellow-color;
  border-radius: 25px;
}

.aboutus__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;
}

.roles .aboutus__title {
  margin-bottom: 25px;
}

.result__list {
  margin-top: auto;
  margin-bottom: auto;
  & > li {
    max-width: 100%;
    font-size: 24px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    &:nth-child(3n - 2) {
      background-color: $opal-color-opacity;
      cursor: pointer;
      &:hover {
        background-color: darken($opal-color-opacity, 20%);
      }
    }

    &:nth-child(3n) {
      background-color: $yellow-color-opacity-lg;
      cursor: pointer;
      &:hover {
        background-color: darken($yellow-color-opacity-lg, 20%);
      }
    }

    &:nth-child(3n - 1) {
      background-color: $red-color-opacity-lg;
      cursor: pointer;
      &:hover {
        background-color: darken($red-color-opacity-lg, 20%);
      }
    }
  }
}

.aboutus button {
  position: relative;
  background-color: $red-color;
  color: white;
  border: none;
  padding: 30px 25px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  justify-self: center;
  align-self: center;

  & > a {
    display: block;
    padding: 10px 40px;
  }

  &:hover {
    background-color: darken($color: $red-color, $amount: 10%);
  }
}

.result button {
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding: 0;
  color: #000;

  &:hover {
    background-color: transparent;
  }
}

.roles {
  text-align: center;
  padding: 40px 10px;
}

.roles__list {
  & > li {
    margin-bottom: 10px;

    & > h3 {
      font-size: 24px;
      font-weight: 600;
    }

    & > p {
      font-size: 18px;
    }
  }
}

@media (max-width: 991px) {
  .result {
    margin-right: 10px;
  }
  .roles {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .result .aboutus__title {
    margin-bottom: 25px;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
  }
}
