@import '../../../../../styles/library';

.result {
  div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  button {
    height: fit-content;
  }

  p {
    max-width: 80%;
    word-wrap: break-word;
    span {
      font-weight: bold;
    }
  }
}
