@import '../../../../../styles/library';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;

  div {
    display: flex;
    flex-grow: 1;
  }
  span {
    color: darken($color: $gray-color, $amount: 40);
    margin-right: 10px;
  }

  input {
    background-color: $text-forms-gray-color;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

    flex: 1 1 auto;
  }
  button {
    flex-shrink: 0;
  }
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
  }
  .input {
    max-width: 80%;
  }
}
