.ComboMenu {

    --options : 2;

    position: absolute;
    top : 100%;
    left : 0;
    right: 0;

    height: calc(100% * var(--options));

    border : var(--bordersize) solid #9f2d20;

    border-top: none;
    border-radius: 0px 0px 8px 8px;

    background-color: white;

    overflow-y : scroll;
    overflow-x:hidden;
    z-index: 1;

    &.hideScroll::-webkit-scrollbar {
        display: none;
    }

    &.highlighted {
        border: var(--bordersize) solid #2f5982;
    }
}

.ComboMenu.Blue {
    border : var(--bordersize) solid #47a5af;
    border-top: none;

    &.highlighted {
        border: var(--bordersize) solid #2f5982;
    }
}