.Combobox {
    height : 100%;
    width : 100%;

    position: relative;


    --bordersize : 0.1rem;
}

.ComboboxHead {

    user-select: none;

    height : 100%;
    width : 100%;
    padding : 0 3%;
    
    border-radius: 8px;
    border : var(--bordersize) solid #9f2d20;
    

    display: flex;
    align-items: center;

    

    &.Blue {
        border : var(--bordersize) solid #47a5af;
    }

    &.Simple {
        border : none;
        border-bottom: 3px solid #c5a7af;
        border-radius: 0;

        padding-bottom: 5px;
        
        flex-direction: row-reverse;
    }
    
    &.Expanded {
        border-bottom: none;
        border-radius: 8px 8px 0 0;

        &.Simple {
            border-bottom: 3px solid #c5a7af;
            border-radius: 0;
        }
    }


}

.highlighted {
    border: 2px solid #2f5982;

    &.Blue {
        border : 2px solid #000000;
    }
}

.Input {
    height: 80%;
    flex: 1;
    max-width: calc(100% - 1.5em - 5px);
    outline : none;

    font-size: 1em;

    &.Focused {
        outline: 2px solid #2f5982;
    }
}

.ComboboxHead.Form {
    padding : 10px 30px;
    border : none;

    background-color: #e1e3e5;
    & * {background-color: #e1e3e5;}
}