.projects_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-image: url("/homeprojectlistbackiground.svg");
  }
  
  .project_info,
  .project_name {
    display: flex;
    flex-direction: column;
    padding: 13px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 29px;
    overflow: hidden;
  }
  
  .project_info {
    font-size: 24px;
    font-weight: 400;
  }
  
  .project_name {
    font-size: 26px;
    font-weight: 600;
  }
  
  .project {
    width: calc(25% - 30px);
    text-align: center;
  
    &:nth-child(4n - 3) > .project_name,
    &:nth-child(4n - 3) > .project_info {
      background: rgba(252, 175, 57, 0.7);
    }
  
    &:nth-child(4n - 2) > .project_name,
    &:nth-child(4n - 2) > .project_info {
      background-color: rgba(159, 45, 32, 0.7);
    }
  
    &:nth-child(4n - 1) > .project_name,
    &:nth-child(4n - 1) > .project_info {
      background-color: rgba(167, 197, 189, 0.7);
    }
  
    &:nth-child(4n) > .project_name,
    &:nth-child(4n) > .project_info {
      background-color: rgba(34, 182, 142, 0.7);
    }
  }
  
  @media (max-width: 1200px) {
    .project {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 600px) {
    .project {
      width: 100%;
    }
  }
  