

.FistInfoInner
  position: relative
  width: 85%
  height: 100%
  margin-top: 50px
  margin-left: auto
  margin-right: auto

  & h1
    text-align: center
    font-size: 70px
    margin-bottom: 20px


  & p
    text-align: Justify
    font-size: 20px
