label.Row{
    font-size: 1.7rem;
}

.Row {
    height: 40px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.SVG {
    height: 100%;
    cursor: pointer;
}

.BigLabel {
    font-size: 1.9rem;
    font-weight: 600;

    & * {
        cursor:default;
    }
}



.Link {
    color: #3ca0ab;
    text-decoration: underline;
    font-style: italic;
}

.AllLinks {

    --options : 1;

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & > * {
        min-width: 50%;
        flex : 1;
    }

}