.container
    display: flex
    align-items: center

.label
    font-size: 20px
    color: #54595E
    margin-right: 10px

.input
    border-radius: 8px
    width: 125px
    text-align: right
    border: 1px solid #54595e
    margin-right: 10px
    height: 40px

@media (max-width: 500px)
    .container
        justify-content: space-between
        flex-wrap: wrap

    .input
        width: 40%
        margin-right: 0

    .labelFirst
        margin-right: 0
        text-align: center
        width: 100%
        margin-bottom: 10px