// For main pages
$red-color: #9f2d20 !default;
$red-color-opacity60: #9f2d2099 !default;
$light-red-color: #c2333333 !default;
$opal-color: #a7c5bd !default;
$opal-color-opacity60: #a7c5bd99 !default;
$dark-opal-color: #627a78 !default;
$yellow-color: #fcaf39 !default;
$yellow-color-opacity60: #fcaf3999 !default;
$gray-color: #bfbfbf !default;
$text-forms-gray-color: #d9d9d9 !default;

// For admin's pages
$easternBlue-color: #20929f !default;
$light-easternBlue-color: #33c2c233 !default;
$pink-color: #c5a7af !default;
$dark-pink-color: #766469 !default;
$light-red-color-opacity30: #b137584d;
$light-dodgerBlue-color-opacity30: #3986fc4d;
