@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("../public/fonts/OpenSans/Opensans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  src: url("../public/fonts/OpenSans/Opensans-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url("../public/fonts/OpenSans/Opensans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  src: url("../public/fonts/OpenSans/Opensans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 900;
  src: url("../public/fonts/OpenSans/Opensans-ExtraBold.ttf") format("ttf");
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
  font-family: "OpenSans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
  list-style: none;
}




