@import '../../../../styles/library'

.stage
    font-weight: 600
    justify-content: center
    margin-top: 34px

.stage,
.dateAdd,
.applicationDeadline,
.projectImplementationDates,
.projectProtection,
.projectStatus,
.status
    font-family: 'Open Sans'
    font-style: normal
    font-size: 36px
    line-height: 49px
    font-weight: 400
    display: flex
    flex-wrap: wrap

.align
    margin: 19px 0
    width: 50%

.inputField
    border: white
    border-bottom: 3px solid $pink-color
    outline: none
    margin: auto 13px 7px 0px
    width: 200px

.status
    font-size: 24px
    line-height: 33px
    justify-content: space-between
    width: 50%

.state
    margin: 0 5px
    padding: 5px

.statusChange
    background: green
    border-radius: 10px

@media (max-width: 1200px)
    .dateAdd,
    .applicationDeadline,
    .projectImplementationDates,
    .projectProtection,
    .projectStatus
        flex-direction: column
        text-align: center
        justify-items: center
        align-items: center
        margin: 20px auto

    .align
        width: 100%

    .status
        width: 100%
        justify-content: center

    .state
        width: calc(66% / 2)
